<a href="casa.component.html">
  <button>❌​Volver</button>
</a>
<div class="card-container">

    <p-card header="TLoZ: BoTW" subheader="Nintendo" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="https://zelda.nintendo.com/breath-of-the-wild/assets/icons/BOTW-Share_icon.jpg" />
        </ng-template>
        <p>Explora el vasto mundo de Hyrule como Link, mientras descubres misterios y enfrentándote a enemigos para salvar el reino.</p>
        <ng-template pTemplate="footer">
          <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button 
            label="AVENTURA" 
            severity="success" 
            styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
          </p-button>
          </div>
        </ng-template>
      </p-card>
    
      <p-card header="MINECRAFT" subheader="MOJANG STUDIOS" [style]="{ width: '300px' }">
        <ng-template pTemplate="header">
          <img alt="Card" src="https://www.minecraft.net/content/dam/games/minecraft/key-art/MC-Vanilla_Updates-Carousel_CandC-Part-I_800x450.jpg" />
        </ng-template>
        <p>Un juego de mundo abierto donde puedes construir, explorar y sobrevivir en un mundo generado proceduralmente. </p>
        <ng-template pTemplate="footer">
          <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
            <p-button 
            label="CREATIVIDAD SIN LIMITES" 
            severity="success" 
            styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
          </p-button>
          </div>
        </ng-template>
      </p-card>
  
    <p-card header="FORTNITE" subheader="EPIC GAMES" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://img.freepik.com/premium-photo/fortnite-wallpaper-4k-gaming-wallpaper_1121250-393251.jpg" />
      </ng-template>
      <p>100 jugadores compiten para ser el último en pie en una isla con constantes cambios y desafíos. </p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="ESTILO VIBRANTE Y EVENTOS EN VIVO" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="THE WITCHER 3: WILD HUNT" subheader="CD PROJEKT RED" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://cdn-l-thewitcher.cdprojektred.com/meta/TW3NG_thumbnail_en.png" />
      </ng-template>
      <p> Sigue las aventuras de Geralt de Rivia en un mundo lleno de misiones, criaturas y decisiones morales.</p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="NARRATIVA PROFUNDA" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="NEW HORIZONS" subheader="NINTENDO" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://sm.ign.com/ign_es/screenshot/default/animal-crossing-new-horizons-ano-despues_9bfb.jpg" />
      </ng-template>
      <p>Crea y gestiona tu propia isla tropical interactuando con personajes amigables y participando en diversas actividades.</p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="RELAJANTE Y CREATIVO" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="AMONG US" subheader="INNERSLOTH" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://cdn1.epicgames.com/salesEvent/salesEvent/amoguslandscape_2560x1440-3fac17e8bb45d81ec9b2c24655758075" />
      </ng-template>
      <p> Trabaja en equipo para mantener la nave mientras descubres al impostor antes de que sabotee la misión.</p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="SOCIAL Y ESTRATEGIA" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>

    <p-card header="HADES" subheader="SUPERGIAT GAMES" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1145360/header.jpg?t=1715722799" />
      </ng-template>
      <p>Escapa del inframundo como el hijo de Hades, enfrentándote a desafíos y descubriendo habilidades únicas en cada intento.</p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button   
          label="ADICTIVA Y NARRATIVA ENVOLVENTE" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  
    <p-card header="CYBERPUNK 2077" subheader="CD PROJEKT RED" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="https://i.blogs.es/b109e9/cyberpunk2077-johnny-v-rgb_en/1366_2000.jpg" />
      </ng-template>
      <p>uega como V en un mundo futurista lleno de tecnología avanzada, misiones peligrosas y decisiones que afectan la historia.</p>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-center align-items-center mt-1" style="height: 80px">
          <p-button 
          label="PERSONALIZACION Y INMERSIVA" 
          severity="success" 
          styleClass="w-full p-3 text-xl font-bold border-round shadow-lg hover:scale-105 transition-transform bg-green-900">
        </p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  